.logo {
  height: 32px;
  margin: 16px;
  background: url("../../assets/logo.png") no-repeat center center;
  cursor: pointer;
}

.ant-layout-sider {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;
  .ant-menu-inline,
  .ant-menu-vertical,
  .ant-menu-vertical-left {
    border: none !important;
  }
}
